.name,
.location,
.optional-description-label,
.description {
    /* スタイルのプロパティと値 */
}

.camerabody-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* カメラとレンズの要素 */
.camerabody,
.cameralens {
    margin: 0 10px;
}
